html {
  height: 100%;
}

body {
  background-color: white;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS for navigation bar */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: black;
  color: white;
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;
}

.navbar a {
  color: white;
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;
}

/* CSS for page footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.about {
	justify-content: center;
}
.about-text{
	width: 800px;
	padding: 15px;
	margin: 20px auto;
	border: 2px solid #333;
	border-radius: 5px;
	box-shadow: 4px 5px 13px rgba(0,2,5,0.3);
	word-wrap: break-word
}
.Home-Grid {
	margin: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax( 450px,1fr));
	overflow: hidden;
	gap: 10px;
	max-width: 100vw;
	}
.Home-Grid-Ele {
	max-width: 650px;
	border: 2px solid #333;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0,0,4,8.3);
	padding: 15px;
	overflow: hidden;
	background-color: rgba(128,128,128,0.5);
	}

.image-container{
	margin: 20px auto;
	width: 800px;
	height: 300px;
	border: 2px solid #333;
	border-radius: 15px;
	overflow:hidden;
}
.image-content {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;

	}
.blog-post {
	width: 90%;
	padding: 30px;
	margin: 30px;
	justify-content: center;
	border: 3px solid #333;
	border-radius: 5px;
	}
.blog-title {
	text-align: center;
	}
